.env
.env.*

*.bak
__pycache__/
*.pyc
*.pyo
venv/

**/test_videos/
**/clips/

# Weights & Models
*.pt
*.onnx
*.engine

# Dynamic Logs & Output Files
*.log
alert_log.json

# Audio Files
*.mp3
*.wav

# System & IDE
.vscode/
node_modules/

**/ground_truth/